<nav class="navbar navbar-expand-lg navbar-dark pb-lg-0">
    <div class="container">
        <a class="navbar-brand" href="{{ '/' | relative_url }}">{% if site.title-icon %}{% include icon.html
            icon=site.title-icon %} {% endif %}{{ site.title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav"
            aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="mainNav">
            <ul class="navbar-nav nav-tabs justify-content-end">
                {% for section in site.html_pages %}{% if section.nav %}
                {% unless section.nav == 'Conferences & Talks' or section.nav == 'Social Media' %}
                {% if section.nav == 'Outreach Activities' %}
                <!-- Outreach dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle{% if page.url == section.url or page.url contains '/3b-' %} active{% endif %} p-3 h-100"
                        href="{{ section.url | relative_url }}"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Outreach
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item{% if page.url == section.url %} active{% endif %}"
                            href="{{ section.url | relative_url }}">Conferences &amp; Talks</a></li>
                        {% for subpage in site.html_pages %}{% if subpage.nav == 'Social Media' %}
                        <li><a class="dropdown-item{% if page.url == subpage.url %} active{% endif %}"
                            href="{{ subpage.url | relative_url }}">Social Media</a></li>
                        {% endif %}{% endfor %}
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link{% if page.url == section.url %} active{% endif %} p-3 h-100"
                        href="{{ section.url | relative_url }}">{% if section.nav == true %}{{ section.title }}{% else
                        %}{{ section.nav }}{% endif %}</a>
                </li>
                {% endif %}
                {% endunless %}
                {% endif %}{% endfor %}
            </ul>
        </div>
    </div>
</nav>