{% comment %}

    Bootstrap accordion feature, https://getbootstrap.com/docs/5.1/components/accordion/

    e.g. --> {% include accordion.html title1="Example section" text1=example1 title2="Section two" text2=example2 title3="Section three" text3=example3 %}

    Options:
    - "title1", "title2", "title3" = title for each section of accordion (max three)
    - "text1", "text2", "text3" = text for each section of accordion (max three). You will probably want to capture the text using a Liquid capture, then use the variable to provide text to this include.
    - "open" = optional, by default is "false". Add "true" to have the first section of the accordion open.

{%- endcomment -%}
{% assign acc_id = include.id | default: 'default' %}
<div class="accordion mb-3" id="accordion-{{ acc_id }}">
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading-{{ acc_id }}-one">
        <button class="accordion-button{% unless include.open %} collapsed{% endunless %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ acc_id }}-one" aria-expanded="{% if include.open == true %}true{% else %}false{% endif %}" aria-controls="collapse-{{ acc_id }}-one">
            {{ include.title1 }}
        </button>
      </h2>
      <div id="collapse-{{ acc_id }}-one" class="accordion-collapse collapse{% if include.open == true %} show{% endif %}" aria-labelledby="heading-{{ acc_id }}-one" data-bs-parent="#accordion-{{ acc_id }}">
        <div class="accordion-body">
            {{ include.text1 | markdownify }}
        </div>
      </div>
    </div>
    {% if include.title2 %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading-{{ acc_id }}-two">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ acc_id }}-two" aria-expanded="false" aria-controls="collapse-{{ acc_id }}-two">
            {{ include.title2 }}
        </button>
      </h2>
      <div id="collapse-{{ acc_id }}-two" class="accordion-collapse collapse" aria-labelledby="heading-{{ acc_id }}-two" data-bs-parent="#accordion-{{ acc_id }}">
        <div class="accordion-body">
            {{ include.text2 | markdownify }}
        </div>
      </div>
    </div>
    {% endif %}
    {% if include.title3 %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading-{{ acc_id }}-three">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ acc_id }}-three" aria-expanded="false" aria-controls="collapse-{{ acc_id }}-three">
            {{ include.title3 }}
        </button>
      </h2>
      <div id="collapse-{{ acc_id }}-three" class="accordion-collapse collapse" aria-labelledby="heading-{{ acc_id }}-three" data-bs-parent="#accordion-{{ acc_id }}">
        <div class="accordion-body">
            {{ include.text3 | markdownify }}
        </div>
      </div>
    </div>
    {% endif %}
</div>
